{% extends 'blog/base.html' %}

{% block content %}
<div class="latest-articles__post">
    <h2><a href="{% url 'post_detail' pk=post.pk %}" class="latest-articles__title">{{ post.title }}</a></h2>
    <p class="latest-articles__text">{{ post.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
      <p><a class="latest-articles__edit-post" href="{% url 'post_edit' pk=post.pk %}">Edit this post</a></p>
      <a class="latest-articles__edit-post" href="{% url 'post_remove' pk=post.pk %}">Delete this post</a>
    {% endif %}
    {% if post.published_date %}
        <p class="latest-articles__date">{{ post.published_date }}</p>
    {% else %}
        <p><a class="latest-articles__edit-post" href="{% url 'post_publish' pk=post.pk %}">Publish</a></p>
    {% endif %}
{% endblock %}
</div>
